* {
    font-family: monospace;
    font-size: 18px;
}

window#waybar {
    background: #292b2e;
    color: #fdf6e3;
    
    /* border-bottom: 3px solid rgba(100, 114, 125, 1); */
}

#tray {
    color: red;
    font-size: 20px;
}

/* PULSEAUDIO */
#pulseaudio {
    color: #268bd2;
    padding: 0 10px;
}

/* MEMORY */
#memory {
    color: #2aa198;
    padding: 0 10px;
}

/* CPU */
#cpu {
    color: #6c71c4;
    padding: 0 10px;
}

/* NETWORK */
#network {
    padding: 0 10px;
    color: #bed482;
    border: 1px solid #bed482;
}

#network.disconnected {
    color: #f53c3c;
    border: 1px solid #f53c3c;
}

/* CLOCK */
#custom-right-arrow-dark,
#custom-left-arrow-dark {
    color: #fdf6e3;
    background: #292b2e;
}

#clock {
    padding: 0 10px;
}

#clock.1, #clock.2, #clock.3 {
    background: #292b2e;
}

#clock.2 {
    font-size: 22px;
    font-weight: bold;
}

/* BUTTONS */
#workspaces button {
    padding: 0 4px;
    color: #fdf6e3;
}

#workspaces button.focused {
    color:  #A690B4;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

